# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
dist/
*.tsbuildinfo

# Environment variables
# .env comment out cz its testing purpose

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Optional npm cache folder
.npm/

# Dependency directories (if using Yarn or other package managers)
.yarn/
